<div class="class1">
<div style="position:relative;background-color:#00BFFF;  left:0px; top:0px; width:100%; height:150px; z-index:0">
  <div style="height:100%;width:100%;padding-left:5%;padding-top:4.5%;">
    
  <button mat-raised-button (click)="openDialog()">Add Contact</button>
</div>
<div>
</div>
      </div>
    <div>
      <mat-card>
      <mat-card>
        <mat-card-title>Contacts</mat-card-title>
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Contacts">
            </mat-form-field>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <ng-container matColumnDef="firstname">
<mat-header-cell  *matHeaderCellDef>First Name</mat-header-cell>
<mat-cell *matCellDef="let user">{{user.firstname}}</mat-cell>
</ng-container>  
<ng-container matColumnDef="lastname">
  <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
  <mat-cell *matCellDef="let user">{{user.lastname}}</mat-cell>
  </ng-container>  
  <ng-container matColumnDef="mob">
    <mat-header-cell *matHeaderCellDef>Mobile</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.mob}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mob2">
        <mat-header-cell *matHeaderCellDef>Mobile2</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.mob2}}</mat-cell>
        </ng-container>  
        <ng-container matColumnDef="home">
            <mat-header-cell *matHeaderCellDef>Home</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.home}}</mat-cell>
            </ng-container>  
            <ng-container matColumnDef="home2">
                <mat-header-cell *matHeaderCellDef>Home2</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.home2}}</mat-cell>
                </ng-container>  
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let user"><input type="submit" value="Delete"  (click)="deleteContact(user._id)"></mat-cell>
      </ng-container>    
<mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
<mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
    </mat-table>
  </mat-card>
</mat-card>
    </div>
  </div>

      
